name: Make Latest Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  get-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-new-release-version.outputs.version }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0
      - name: Get New Release Version
        id: get-new-release-version
        if: ${{ github.ref_name == 'main' }}
        run: |
          CURRENT_PRERELEASE_TAGS=$(git tag --points-at HEAD | grep -E "^v[0-9]+\.[0-9]+\.[0-9]+-pre-release\.[0-9]+$" || true)

          if [ -z "$CURRENT_PRERELEASE_TAGS" ]; then
            echo "No pre-release version tags on the latest commit on main exist."
            exit
          fi

          if [ "$(echo "$CURRENT_PRERELEASE_TAGS" | wc -l)" -gt 1 ]; then
            echo "More than one pre-release version tag on the latest commit on main exists."
            exit
          fi

          echo "Latest main pre-release version is '$CURRENT_PRERELEASE_TAGS'."
          CLEAN=${CURRENT_PRERELEASE_TAGS#v}
          CLEAN=${CLEAN%%-*}
          IFS='.' read -r MAJOR MINOR PATCH <<< "$CLEAN"
          NEW_VERSION=v$MAJOR.$MINOR.$PATCH
          echo "New release version is '$NEW_VERSION'."
          echo "version=$NEW_VERSION" >> $GITHUB_OUTPUT

  release-version:
    needs: get-version
    if: ${{ needs.get-version.outputs.is-new == 'true' }}
    uses: ./.github/workflows/create-release.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
      branch: ${{ github.ref_name }}
      latest: true
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}