name: Maven Publish

on:
  release:
    types: [published]

jobs:
  package:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file
      

    - name: Build with Maven
      run: mvn -Drevision="${{ github.event.release.name }}" -B package --file pom.xml

    - name: Publish to GitHub Packages Apache Maven
      run: mvn -Drevision="${{ github.event.release.name }}" deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
