name: Maven Package Manual Release

on:
  release:
    types: [published]

jobs:
  package:
    name: Package
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/maven-publish.yml
    with: 
      version: ${{ github.event.release.name }}
