# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  release:
    types: [published]
  workflow_call:
    inputs:
      version:
        required: false
        type: string
    secrets:
      token:
        required: true

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v5
      with:
        ref: ${{ github.event.release.tag_name || inputs.version }}
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file
    
    - name: Clean Version
      id: semver_info
      run: | # Just to clean the version string (remove the 'v' prefix)
        TAG_NAME="${{ github.event.release.tag_name || inputs.version }}"
        echo "clean_version=${TAG_NAME#v}" >> $GITHUB_OUTPUT
      
    - name: Inform About Version
      run: |
        echo "The version of the package: ${{ steps.semver_info.outputs.clean_version }}"

    - name: Build with Maven
      run: mvn -Drevision="${{ steps.semver_info.outputs.clean_version }}" -B package --file pom.xml

    - name: Publish to GitHub Packages Apache Maven
      run: mvn -Drevision="${{ steps.semver_info.outputs.clean_version }}" deploy -s $GITHUB_WORKSPACE/settings.xml
      env:
        GITHUB_TOKEN: ${{ secrets.token }}
