name: Semantic Versioning

on:
  push:
    branches:
      - 'main'
      - 'develop'

permissions:
  contents: write
  packages: write

jobs:
  get-version:
    uses: ./.github/workflows/get-semantic-version.yml
    with:
      branch: ${{ github.ref_name }}

  release-version:
    needs: get-version
    if: needs.get-version.outputs.is-new == 'true'
    uses: ./.github/workflows/create-release.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
      branch: ${{ github.ref_name }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
  
  publish-library:
    needs: 
      - get-version
      - release-version
    if: needs.get-version.outputs.is-new == 'true'
    uses: ./.github/workflows/maven-publish.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
